.slider {
  margin-top: 80px;
  width: 100%;
  height: 92vh;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.arrow {
  z-index: 0;
}

.slider {
  margin-top: 50px;
}

.slide img {
  width: 100%;
  height: 100%;
}

.current {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.content {
  position: absolute;
  top: 23rem;
  left: 5rem;
  opacity: 0;
  width: 50%;
  color: #fff;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.3);
  -webkit-animation: slide-up 1.5s ease-in 0.5s;
          animation: slide-up 1.5s ease-in 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
  border-radius: 10px;
}

.content h2 {
  font-size: calc(11px + (50 - 11) * (100vw - 320px) / (1920 - 320));
}

.content p {
  font-size: calc(8px + (20 - 8) * (100vw - 320px) / (1920 - 320));
}

.content button {
  background-color: #e40104;
  color: #fff;
  border: none;
  width: 200px;
  font-size: 20px;
  padding: 10px;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: calc(9px + (30 - 9) * (100vw - 320px) / (1920 - 320));
}

.content button:hover {
  width: 250px;
}

@-webkit-keyframes slide-up {
  0% {
    visibility: visible;
    top: 50rem;
  }
  100% {
    visibility: visible;
    top: 33%;
  }
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 50rem;
  }
  100% {
    visibility: visible;
    top: 33%;
  }
}

.content > * {
  color: #fff;
  margin-bottom: 1rem;
}

.current .content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.arrow {
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.arrow:hover {
  background-color: #fff;
  color: #e40104;
}

.next {
  top: 50%;
  right: 1rem;
}

.prev {
  top: 50%;
  left: 1rem;
}

hr {
  height: 2px;
  background: white;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .slider {
    height: 35vh;
  }
  .content {
    width: 80%;
    left: 2rem;
    padding: 10px;
  }
  .arrow {
    height: 1rem;
    width: 1rem;
  }
  .next {
    top: 45%;
  }
  .prev {
    top: 45%;
  }
  @-webkit-keyframes slide-up {
    0% {
      visibility: visible;
      top: 6rem;
    }
    100% {
      visibility: visible;
      top: 8%;
    }
  }
  @keyframes slide-up {
    0% {
      visibility: visible;
      top: 6rem;
    }
    100% {
      visibility: visible;
      top: 8%;
    }
  }
  button {
    width: 100px;
    padding: 5px;
  }
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .slider {
    height: 45vh;
  }
  .next {
    top: 50%;
  }
  .prev {
    top: 50%;
  }
  @-webkit-keyframes slide-up {
    0% {
      visibility: visible;
      top: 17rem;
    }
    100% {
      visibility: visible;
      top: 15%;
    }
  }
  @keyframes slide-up {
    0% {
      visibility: visible;
      top: 17rem;
    }
    100% {
      visibility: visible;
      top: 15%;
    }
  }
  button {
    width: 150px;
    padding: 8px;
  }
}
/*# sourceMappingURL=SliderStyle.css.map */