.backtoto button {
    margin: 100px;
    font-size: 30px;
}

.topicon {
    width: 40px;
    height: 50px;
    background-color: rgb(230, 47, 47);
    border-radius: 5px;
    transition: 0.5s;
    color: #000;
    position: fixed;
    
}
.topicon:hover {
    background-color: rgb(228, 1, 1);
    color: #fff;
}

@media screen and (max-width: 600px) {
    .backtoto button{
        margin: 50px 5px;
        
    }
    .topicon {
        width: 20px;
        height: 25px;
        margin-right: 50px;
    }
    .topicon-icon{
        font-size: 20px;
        margin-bottom: 25px;
    }
}
@media screen and (min-width: 601px) and (max-width: 992px) {
    .backtoto button{
        margin: 85px 15px;
        font-size: 30px;
    }
}